#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

#textArea{
  height: 256px;
  width: 256px;

  /* font-size: 30px;
  font-weight: bold; */

  overflow-wrap:normal;
  overflow-x: scroll;
}

.selectedText {
  border-radius: 2px;
}

.nameTag {
  color: white;
  font-family: Verdana, Geneva, sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 12px;
  padding : 3px;
  border-radius: 3px;
}